.features-grid {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 50px;
}

.feature-card {
    background: white;
    border: 3px solid #333;
    box-shadow: 5px 5px 0px -1px rgba(0, 0, 0, 0.7);
    border-radius: 12px;
    padding: 20px;
    position: relative;
}

.feature-icon {
    position: absolute;
    z-index: 2;
    top:-35px;
    width: 40px;
    height: 40px;
    background: rgba(255, 222, 204, 1);
    border: 2px solid #333;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 12px;
}
.feature-card p {
    font-size: 13px;
    line-height: 1.6;
    color: #666;
}
.features-grid {
    padding: 0 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px 20px;
    justify-content: center;
}

.feature-card {
    max-width: 650px;
    padding: 35px 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.feature-icon {
    width: 60px;
    height: 60px;
    font-size: 30px;
    margin-bottom: 20px;
    padding: 8px;
}
.feature-icon img{
    width: 70%;
    height: auto;
}
.feature-card h3 {
    font-size: 26px;
    margin-bottom: 15px;
}



@media (max-width: 1000px){
    .features-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0 20px;
        gap: 40px 30px;
    }
}


/* Features - Mobile 390px */
@media (max-width: 390px) {
    .features-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 0 18px;
        gap: 48px;
        margin-top: 50px;
    }
    .feature-icon{
        top:-30px;
        right: 270px;
        width: 50px;
        height: 50px;
        padding: 3px;
    }
    .feature-icon img{
        width: 50%;
        height: auto;
    }
    .feature-card {
        padding: 30px;
    }

    .feature-card h3 {
        font-size: 19px;
    }

    .feature-card p {
        font-size: 14px;
    }
}

