.hero {
    background: white;
    margin: 15px;
    padding: 25px 20px;
    border-radius: 12px;
    border: 3px solid #333;
    box-shadow: 5px 5px 0px -1px rgba(0, 0, 0, 0.7);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heroGrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 50px;
}
.imgHero {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    max-width: 200px;
    height: auto;
    z-index: 1;
}

.hero-badge {
    background: white;
    color: black;
    padding: 6px 14px;
    border: black 1px solid;
    border-radius: 5px;
    font-size: 11px;
    display: inline-block;
    margin-bottom: 15px;
}

.hero h1 {
    font-size: 35px;
    margin-bottom: 15px;
    line-height: 1.3;
}

.hero p {
    font-size: 14px;
    line-height: 1.6;
    color: #666;
}

/* Hero - Mobile 390px */
@media (max-width: 390px) {
    .hero {
        margin: 18px;
        padding: 28px 22px;
    }
    .heroGrid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        text-align: center;
        padding: 20px;
    }
    .hero-badge{
        align-items: center;
    }
    .hero h1 {
        font-size: 28px;
    }

    .hero p {
        font-size: 14px;
    }
}

