.learning-grid {
    padding: 0 15px 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}
.learning-card {
    background: white;
    border: 3px solid #333;
    box-shadow: 5px 5px 0px -1px rgba(0, 0, 0, 0.7);
    border-radius: 12px;
    overflow: hidden;
    padding: 30px;
    max-width: 550px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.learning-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.learning-content {
    padding: 20px;
}
.learning-content h3 {
    font-size: 18px;
    margin-bottom: 10px;
}
.learning-content p {
    font-size: 13px;
    color: #666;
    line-height: 1.5;
}
.learning-grid {
    padding: 0 80px 60px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 35px;
    justify-content: center;
}
.learning-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
.learning-cardImg{
    border: 2px solid rgba(0, 0, 0, 1);
    border-radius: 12px;
    overflow: hidden;
}
.learning-cardImg img{
    width: 100%;
    height: auto;
    display: block;
}
.learning-content {
    padding: 30px;
}
.learning-content h3 {
    font-size: 26px;
    margin-bottom: 15px;
}
.learning-content p {
    font-size: 16px;
    line-height: 1.8;
}



@media (max-width: 1000px){
    .learning-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0 20px;
        gap: 10px;
    }
}

/* Learning - Mobile 390px */
@media (max-width: 390px) {
    .learning-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 0 18px 35px;
        gap: 18px;
    }
    .learning-card img {
        height: 220px;
    }
    .learning-content {
        padding: 22px;
    }
    .learning-content h3 {
        font-size: 19px;
    }
    .learning-content p {
        font-size: 14px;
    }
}

