.banner{
    margin-top:50px;
}
.text-banner{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}
.photo-banner{
    margin-top: 30px;
    position: relative;
}
.photoB{
    position: relative;
    right:100px;
}
