/* Testimonials */
.testimonials {
    padding: 80px 0;
    background: var(--white);
}
.section-headerT{
    text-align: center;
    margin-bottom: 50px;
}
.testimonials-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.testimonial-card {
    background: #f3f3f3;
    padding: 2.5rem;
    border-radius: 20px;
}

.stars {
    color: #FBBC05;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.testimonial-text-Primary{
    font-size: 25px;
    font-weight: 700;
}
.testimonial-text {
    color: gray;
    line-height: 1.8;
    margin-bottom: 1.5rem;
}

.testimonial-author {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 20px;
}
.phototest{
    display: flex;
    gap:20px;
}
.author-avatar {
    width: 50px;
    height: 50px;
    background:gray;
    border-radius: 50%;
}

.author-name {
    font-weight: 700;
}

.author-role {
    color: gray;
    font-size: 0.9rem;
}
@media (max-width: 968px) {
    .testimonials-grid {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .testimonial-text-Primary {
        font-size: 36px;
    }

}